@import "tailwindcss";
@plugin "tailwindcss-animate";

@theme {
  --font-display: "Alata", "sans-serif";
  --primary: #5c3e94;
  --secondary: #c4d9ff;
  --accent: #c5baff;
  --background: #fbfbfb;
  --dark: #222831;

}


